body{
  background-color: white;
}

#tekst {
  text-align: center;
  color: grey;
}

#info {
}

#header {
font-family: Arial;
 margin: 0;
 color: grey;
}
.header {
  padding: 60px;
  text-align: center;
  background: #ffbb99;
  color: white;
  font-size: 30px;
}
#paragraf1 {
  text-align: left;
    color: grey;
}

.body_sec {
    margin-left:15px;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

.serif {
   "Lucida Console", Courier, monospace;
}
